{% load static %}
{% load custom_filter %}
{% load humanize %}
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
                <div class="productinfo text-center">
                    <a href="{% url 'view_product' product_id=product.id %}">
                        {% if product.image|first in 'i' %}
                            <img src="{% static product.image %}" alt="{{product.name}}" />
                        {% else %}
                            <img src="{{product.image}}" alt="{{product.name}}" />
                        {% endif %}
                    </a>
                    {% if product.id|check_product_sale %}
                        <h6 style="position: absolute; bottom: 33%; left: 13%; text-decoration: line-through; color:lightgrey;">{{product.price|intcomma}}đ</h6>
                        <h2>{{product.id|get_price_sale|intcomma}}đ</h2>
                    {% else %}
                        <h2>{{product.price|intcomma}}đ</h2>
                    {% endif %}
                    <p>{{product.name}}</p>
                    <a data-href="{% if user.is_authenticated %}
                            {% url 'add_product_to_cart' product_id=product.id %}
                        {% else %}
                            {% url 'login_user' %}
                        {% endif %}"
                        class="btn btn-default add-to-cart"
                        data-logged-user="{{ user.is_authenticated }}"
                    >
                        <i class="fa fa-shopping-cart"></i>Add to cart
                    </a>
                </div>
                {% if product.id|check_product_sale %}
                    <!-- <img src="{% static 'images/home/sale.png' %}" class="new" alt="website template image"> -->
                    <span style="background-color: #FE980F;color: white;" class="new">Giảm {{ product.id|get_product_discount}}%</span>
                {% endif %}
                
        </div>
    </div>
</div>