{% extends 'base/base.html' %}
{% block title %}
    Functions index views | {{ block.super }}
{% endblock title %}

{% block content %}
    {% load static %}
    {% load myfilter %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Type</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Length</th>
                            <th scope="col">Color</th>
                            <th scope="col">Vacinated</th>
                            <th scope="col">Dewormed</th>
                            <th scope="col">Sterilized</th>
                            <th scope="col"><a href="{% url 'myapp:add_pet' %}">
                                    <i class="bi bi-plus-circle"></i>
                                </a></th> <!-- {  % url 'giá trị name trong urls.py '%   } -->
                        </tr>
                    </thead>
                    <tbody>
                        {% if message %}
                        <tr>
                            <td scopt="row" colspan="12">{{message}}</td>
                        </tr>
                        {% endif %}
                        {% for pet in page_obj %}
                        {% url 'myapp:detail_pet' pet_id=pet.id  as url_detail %}
                        {% url 'myapp:update_pet' pet_id=pet.id  as url_update %}
                        {% url 'myapp:delete_pet' pet_id=pet.id  as url_delete %}
                        {% include 'common/pet-item.html' with url_view=url_detail url_update=url_update url_delete=url_delete %}
                        {% endfor %}
                    </tbody>

                </table>
                {% include 'common/paginator.html'  with class_name='paginator-function' %}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDeteltePet" tabindex="-1" aria-labelledby="modalDeteltePetLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeteltePetLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Pet ID: <span id="pet_id"></span></p>
                    <p>Pet Name: <span id="pet_name"></span></p>
                    <p>Pet type: <span id="pet_type"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="url-delete" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
    <script>
        $(".delete-pet").each(function () {
            $(this).click(function () {
                $("#pet_id").text($(this).parent().parent().children().eq(0).text());
                $("#pet_name").text($(this).parent().parent().children().eq(1).text());
                $("#pet_type").text($(this).parent().parent().children().eq(3).text());
                $("#url-delete").attr("href", $(this).data('url'));
                $("#modalDeteltePet").modal('show');
            })
        })
        function confirmDeletePet(event, petId) {
            if (confirm("Bạn có thực sự muốn xóa Pet với id là " + petId + " không ?") == true) {
                window.location.href = event.getAttribute('data-url');
            }
            else {
                console.log("Không xóa");
            }
        }
    </script>
{% endblock content %}