{% load myfilter %}
<tr>
    <td scope="row">{{page_obj.number|make_serial:forloop.counter}}</td>
    <td>{{pet.id}}</td>
    <td>{{pet.name}}</td>
    <td>{{pet.age}}</td>
    <td>{{pet.type}}</td>
    <td>{{pet.weight}}</td>
    <td>{{pet.length}}</td>
    <td>
        <p style="height: 20px; width: 20px; background-color: {{pet.color}};"></p>
    </td>
    <td><input type="checkbox" disabled {% if pet.vacinated %} checked {% endif %}></td>
    <td><input type="checkbox" disabled {% if pet.dewormed %} checked {% endif %}></td>
    <td><input type="checkbox" disabled {% if pet.sterilized %} checked {% endif %}></td>
    <td>
        <a href="{{ url_detail }}">
            <i class="bi bi-eye"></i>
        </a>
        <a href="{{ url_update }}">
            <i class="bi bi-pencil"></i>
        </a>
        <a href="{{ url_delete }}">
            <i class="bi bi-trash3"></i>
        </a>
    </td>
</tr>